:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors-txt */
  --primary-txt-cl: #434455;
  --secondary-txt-cl: #2e2f42;

  --logo-cl-first: #4d5ae5;
  --logo-header-cl-last: #2e2f42;
  --logo-footer-cl-last: #f4f4fd;

  --cl-link-navigation: #2e2f42;
  --cl-link-address: #434455;
  --accent-cl-link: #404bbf;

  --hero-txt-color: #ffffff;

  --cl-clients-filter-btn: #4d5ae5;
  --accent-cl-clients-filter-btn: #ffffff;

  --cl-desc-footer: #f4f4fd;

  /* Bg-colors */
  --bg-cl-bady: #ffffff;

  --bg-cl-hero: #2e2f42;
  --bg-cl-hero-btn: #4d5ae5;
  --accent-bg-cl-hero-btn: #404bbf;

  --bg-cl-section-team: #f4f4fd;
  --bg-cl-section-team-card: #ffffff;

  --bg-cl-footer: #2e2f42;

  --bg-cl-clients-filter-btn: #f4f4fd;
  --accent-bg-cl-clients-filter-btn: #404bbf;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-txt-cl);
  background: var(--bg-cl-bady);
}

/* ============================== Components ============================== */

.logo {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-cl-first);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============================== /Components ============================== */

/* ============================== Header ============================== */

.logo-header-color {
  color: var(--logo-header-cl-last);
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-link-navigation);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--accent-cl-link);
}

.address {
  font-style: normal;
}
.contact-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-link-address);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-cl-link);
}

/* ============================== /Header ============================== */

/* ============================== Hero ============================== */

.hero {
  background: var(--bg-cl-hero);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-txt-color);
}

.hero-modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-txt-color);
  background: var(--bg-cl-hero-btn);
  cursor: pointer;
}
.hero-modal-btn:hover,
.hero-modal-btn:focus {
  background: var(--accent-bg-cl-hero-btn);
}

/* ============================== /Hero ============================== */

/* ============================== Features ============================== */

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}
.features-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ============================== /Features ============================== */

/* ============================== Projects ============================== */

.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-txt-cl);
}

/* ============================== /Projects ============================== */

/* ============================== Team ============================== */

.team {
  background: var(--bg-cl-section-team);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-txt-cl);
}
.team-list-item {
  background: var(--bg-cl-section-team-card);
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-txt-cl);
}
.team-list-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* ============================== /Team ============================== */

/* ============================== Portfolio clients ============================== */

.clients-filter-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  background: var(--bg-cl-clients-filter-btn);
  color: var(--cl-clients-filter-btn);
  cursor: pointer;
}
.clients-filter-btn:hover,
.clients-filter-btn:focus {
  background: var(--accent-bg-cl-clients-filter-btn);
  color: var(--accent-cl-clients-filter-btn);
}
.client-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-txt-cl);
}
.client-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-txt-cl);
}

/* ============================== /Portfolio clients ============================== */

/* ============================== Footer ============================== */

.logo-footer-color {
  color: var(--logo-footer-cl-last);
}
.footer {
  background: var(--bg-cl-footer);
}
.footer-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cl-desc-footer);
}

/* ============================== /Footer ============================== */
